<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Pagination App Test</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">@Html.ActionLink("Home", "Index", "Products", new { @class = "nav-link" })</li>

            <!-- Dropdown1 -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Products
                </a>
                <div class="dropdown-menu">
                    @Html.ActionLink("Catalogue", "Index", "Products", new { @class = "dropdown-item" })
                    @Html.ActionLink("Create Product", "Create", "Products", new { @class = "dropdown-item" })
                </div>
            </li>
            <!-- Dropdown2 -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Categories
                </a>
                <div class="dropdown-menu">
                    @Html.ActionLink("Categories List", "Index", "Categories", new { @class = "dropdown-item" })
                    @Html.ActionLink("Create", "Create", "Categories", new { @class = "dropdown-item" })
                </div>
            </li>
            <li class="nav-item">@Html.ActionLink("About", "About", "Products", new { @class = "nav-link" })</li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - All rights reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
